html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Page Header */

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px 13px 20px;
    border-bottom: 1px solid #252525;
}

/* Post Header */

section {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 570px;
  margin: 0 auto;
}

.post-header {
  display: flex;
  margin-top: 40px;
}

.avatar {
    border-radius: 50%;
    height: 50px;
    padding: 10px 0;
    margin: 0 0 10px 20px;
}

.post-user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 10px;
}

p {
  margin: 0;
}

/* Post Content */

.post {
  max-width: 570px;
}

/* Post Footer */

.icon {
  height: 40px;
  width: 40px;
  padding: 20px 5px 0 10px;
}

.footer-text {
  padding-left: 10px;
}

.footer-text p {
  margin: 10px 10px 30px 5px;
}

/* Typography */

.bold-text {
  font-weight: bold;
  margin-right: 5px;
}
