html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

header,
section,
.post-header,
.post-user-info {
  display: flex;
}

section,
.post-user-info {
  flex-direction: column;
}

.home-btn,
.avatar:hover,
.post:hover,
.icon:hover {
  cursor: pointer;
}

/* Page Header */

header {
    justify-content: space-between;
    height: 100px;
    padding: 0 20px 13px 20px;
    border-bottom: 1px solid #252525;
}

/* Post Header */

section {
  align-items: start;
  width: 570px;
  margin: 0 auto;
}

.post-header {
  margin-top: 40px;
}

.avatar {
    border-radius: 50%;
    height: 50px;
    padding: 10px 0;
    margin-bottom: 10px;
}

.post-user-info {
  justify-content: space-around;
  padding: 10px 10px;
}

p {
  margin: 0;
}

/* Post Content */

.post {
  width: 570px;
}

/* Post Footer */

.icon {
  height: 40px;
  width: 40px;
  margin: 20px 5px 0 0;
}


.footer-text p {
  margin: 10px 10px 30px 5px;
}

/* Typography */

.bold-text {
  font-weight: bold;
  margin-right: 5px;
}
